# Google Ads Configuration
# Insira seu Google Ads ID (Exemplo: AW-18400207296)
VITE_GOOGLE_ADS_ID=AW-18400207296

# Insira o Conversion Label do Google Ads para a ação de conversão:
# "Lead - Formulaire Devis" (Exemplo: AbCdEfGhIjK)
# Encontrado no Google Ads em Metas > Conversões > Resumo > [Sua Conversão] > Tag setup / Configuração da tag
VITE_GOOGLE_ADS_LEAD_CONVERSION_LABEL=
